<div class="container addDepartment">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5 mx-auto">
      <h4 style="text-align: left">Add a department</h4>

      <!-- Alert Start -->
      <div
        *ngIf="alert"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>Hooray!</strong> Department added successfully.
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          (click)="closeAlert()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Alert End -->

      <form
        #departmentForm="ngForm"
        (ngSubmit)="addDepartment(departmentForm.value)"
      >
        <input
          ngModel
          class="departmentInput"
          type="number"
          name="id"
          id="id"
          placeholder="Department Id"
        />
        <br />
        <input
          ngModel
          class="departmentInput"
          type="text"
          name="name"
          id="name"
          placeholder="Department Name"
        />
        <br />
        <div class="buttons row">
          <div class="col-6">
            <button
              (click)="goBack()"
              type="button"
              class="goBack d-flex align-items-center justify-content-center"
            >
              <span class="material-icons mr-2"> arrow_back </span>
              Go Back
            </button>
          </div>
          <div class="col-6">
            <button type="submit" class="addOrUpdateDepartment">
              Add Department
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
