<div class="container">
  <div class="row">
    <div
      class="col-sm-5 mx-auto"
      style="margin-top: 60px"
      *ngIf="departmentInfo"
    >
      <div class="card text-white mb-3">
        <div class="card-header card-head">Department Information</div>
        <div class="card-body">
          <h4 class="dept-id text-dark">
            Department Name: {{ departmentInfo.name }}
          </h4>
          <h6 class="dept-id text-dark mb-3">
            Department Id: {{ departmentInfo.id }}
          </h6>

          <p class="card-text text-dark">
            <span style="font-weight: 700">Description:</span> Some quick
            example text to build on the card title and make up the bulk of the
            card's content. Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-danger w-100 d-flex align-items-center justify-content-center"
        routerLink="/department"
      >
        <span class="material-icons mr-2"> arrow_back </span> Back to Department
        list
      </button>
    </div>
  </div>
</div>
