<div class="container-fluid" *ngIf="student">
  <br> <br>
  <h3 class="text-uppercase">Details:</h3>
  <br>
  <div>
    <div class="row">
      <label
        class="font-weight-bold mx-4">
        Name:
      </label>
      <p>
        {{student.name}}
      </p>
    </div>

    <div class="row">
      <label
        class="font-weight-bold mx-4">
        Gender:
      </label>
      <p>
        {{student.gender}}
      </p>
    </div>
  </div>

  <br>
  <div>
    <button
      type="button"
      class="btn btn-warning px-3 mx-2"
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="Go Back"
      (click)="goBack()">
      Go Back
    </button>
    <i
      type="button"
      class="btn btn-success bi bi-pencil-square"
      style="cursor: pointer"
      data-bs-toggle="tooltip" data-bs-placement="top"
      title="EDIT"
      routerLink="/edit/{{ student.id }}"></i>
  </div>

</div>
