<div class="container-fluid" *ngIf="student">
  <br> <br>
  <h3 class="text-uppercase">Details:</h3>
  <br>
  <div>
    <div class="row">
      <label
        class="font-weight-bold mx-4">
        Name:
      </label>
      <p>
        {{student.name}}
      </p>
    </div>

    <div class="row">
      <label
        class="font-weight-bold mx-4">
        Gender:
      </label>
      <p>
        {{student.gender}}
      </p>
    </div>
  </div>

  <br>
  <div>
    <button
      type="button"
      class="btn btn-warning px-3 mx-2"
      (click)="goBack()">
      Go Back
    </button>
    <a routerLink="/edit/{{ student.id }}" class="btn btn-outline-secondary mx-1">
      Edit
    </a>
  </div>

</div>
