<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-12 mx-auto mb-3 d-flex align-items-center justify-content-between">
      <div>
        <h4>Student List</h4>
      </div>
      <div>
        <a
          routerLink="/form/"
          class="btn btn-danger"
          title="Add New Student">
          Add New Student
        </a>
      </div>
    </div>

    <div class="col-12 mx-auto mb-3">
    <p class="text-right mb-2">
      Total Students: <strong>{{ students.length }}</strong>
    </p>
  </div>

    <div class="col-12 mx-auto mb-3 d-flex align-items-center">

        <table class="table table-hover">
              <thead class="thead-dark">
                  <tr>
                      <th class="col-1">#</th>
                      <th class="col-5">Name</th>
                      <th class="col-3">Gender</th>
                      <th class="col-3 text-center">Action</th>
                  </tr>
              </thead>
              <tbody *ngFor="let student of students; let even=even; let odd=odd;">
                  <tr *ngIf="odd" class="table-light">
                      <th scope="row">{{ students.indexOf(student)+1+". " }}</th>
                      <td>{{ student.name }}</td>
                      <td>{{ student.gender }}</td>
                      <td class="d-flex justify-content-center">
                        <div class="text-primary border border-primary rounded-right m-1"
                          style="cursor: pointer"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          title="VIEW"
                          routerLink="/view/{{ student.id }}">
                          <i class="bi bi-eye-fill m-1 "></i>
                        </div>
                        <div class="text-success border border-success rounded m-1"
                          style="cursor: pointer"
                          title="EDIT"
                          routerLink="/edit/{{ student.id }}">
                          <i class="bi bi-pencil-square m-1"></i>
                        </div>
                        <div class="text-danger border border-danger rounded-left m-1"
                          style="cursor: pointer"
                          title="DELETE"
                          (click)="delete(student)">
                          <i class="bi bi-trash m-1"></i>
                        </div>
                      </td>
                  </tr>
                  <tr *ngIf="even" class="table-secondary">
                      <th scope="row">{{ students.indexOf(student)+1+". " }}</th>
                      <td>{{ student.name }}</td>
                      <td>{{ student.gender }}</td>
                      <td class="d-flex justify-content-center">
                        <div class="text-primary border border-primary rounded-right m-1"
                          style="cursor: pointer"
                          title="VIEW"
                          routerLink="/view/{{ student.id }}">
                          <i class="bi bi-eye-fill m-1 "></i>
                        </div>
                        <div class="text-success border border-success rounded m-1"
                          style="cursor: pointer"
                          title="EDIT"
                          routerLink="/edit/{{ student.id }}">
                          <i class="bi bi-pencil-square m-1"></i>
                        </div>
                        <div class="text-danger border border-danger rounded-left m-1"
                          style="cursor: pointer"
                          title="DELETE"
                          (click)="delete(student)">
                          <i class="bi bi-trash m-1"></i>
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>

      </div>
  </div>

</div>
