<div class="container-fluid" *ngIf="student">

    <h4>{{student.name | uppercase}} Details</h4>
    <div>ID# {{student.id}}</div>
    <div>
        <label for="student-name">Name: </label>
        <input id="student-name" [(ngModel)]="student.name" placeholder="name">
    </div>
    <div>
        <label for="student-gender">Gender: </label>
        <input id="student-gender" [(ngModel)]="student.gender" placeholder="gender">
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
</div>
